@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utils */

.grid {
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(180px, auto);
}

.stretched-link {
  @apply absolute inset-0 z-10;
}

/* card */

.card .card-shadow {
  @apply transition duration-300 shadow-none h-full;
}

.card:hover .card-shadow {
  @apply shadow-lg;
}

/* overlay */

.overlay {
  @apply absolute;
}

.overlay * {
  @apply transition-all duration-200;
}

.overlay.hoverable > * {
  @apply opacity-0;
}

.overlay.hoverable:hover > * {
  @apply opacity-100;
}

/* hero */
@media only screen and (max-width: 768px) {
  .hero .hero-image,
  .hero .hero-caption {
    min-height: 90vh;
  }
  .hero .hero-cta {
    @apply w-12 h-12;
    transform: translateX(-75px) translateY(-50%);
    background-size: 37.5%;
  }
}

button[disabled] {
  @apply bg-gray-300 hover:bg-gray-300 text-gray-400 hover:text-gray-400 cursor-not-allowed;
}

/* waves */

.waves {
  width: 100%;
}

.waves-parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.waves-parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.waves-parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.waves-parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.waves-parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.separator-height-large,
.separator-height-large svg {
  height: 150px;
}

.kd-row-separator-bottom {
  bottom: 0;
  margin-bottom: -1px;
}

.kd-row-separator {
  position: absolute !important;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

/* mega menu */

.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}

.hoverable {
  position: static;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}

.toggleable > label:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: #2c5282; /*@apply bg-blue-800 */
}

.toggle-input:checked ~ label:after {
  content: "\25B2";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}
.mega-menu > .container:before {
  width: 100%;
  position: absolute;
  background: white;
  content: "";
  height: calc(100% - 21px);
  left: 0;
  z-index: -1;
  top: 21px;
  border-top: 1px solid #39354e38;
}

/* widget sidebar */

.WidgetSideWrapper {
  padding: 20px 5px;
  background-color: #fff;
  width: 800px;
  right: -800px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 99999;
  font-weight: 300;
}

.WidgetSideWrapper .WidgetSideInside {
  width: 45px;
  position: absolute;
  top: 250px;
  left: -45px;
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 7%);
  -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 7%);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 7%);
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #eaeaea;
  border-right: 0;
  box-sizing: border-box;
}

.WidgetSideWrapper .WidgetSideInside .CustomTooltip {
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
  display: block;
  border-bottom: 1px solid #eaeaea;
}

.WidgetSideWrapper .WidgetSideInside .CustomTooltip svg {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: block;
  height: 43px;
  line-height: 44px;
  color: #2f2f2f;
  transition: 0.25s;
}

/* Chart */


.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.donut-chart .quad {
  position: absolute;
  top: 0;
  left: 0;
}

.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}

.donut-chart {
  width: 300px;
  height: 300px;
  background: #e1e1e1;
}

.donut-chart .quad.one {
  -webkit-transform: rotate(241.2deg);
  -webkit-transform-origin: bottom right;
  -webkit-animation: chart1 1s linear;
  display: block;
}

.donut-chart .quad.two {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: bottom right;
  -webkit-animation: chartRotate2 1s linear;
  display: block;
}

.donut-chart .quad.three {
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: bottom right;
  -webkit-animation: chartRotate3 1s linear;
  display: block;
}

.donut-chart .quad.four {
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: bottom right;
  -webkit-animation: chartRotate4 1s linear;
  display: block;
}

.donut-chart .quad.five {
  -webkit-transform: rotate(337deg);
  -webkit-transform-origin: bottom right;
  -webkit-animation: chartRotate4 1s linear;
  display: block;
}

.donut-chart .quad {
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
  display: none;
}

.donut-chart .chart-center {
  top: 25px;
  left: 25px;
  width: 250px;
  height: 250px;
  background: #fff;
}

.donut-chart.chart1 .chart-center:after {
  display: inline-block;
  width: 100%;
  font-size: 60px;
  color: #48b2c1;
  text-align: center;
  line-height: 250px;
  content: "67%";
}

.donut-chart.chart2 .chart-center:after {
  display: inline-block;
  width: 100%;
  font-size: 60px;
  color: #48b2c1;
  text-align: center;
  line-height: 250px;
  content: "90%";
}

.donut-chart.chart3 .chart-center:after {
  display: inline-block;
  width: 100%;
  font-size: 60px;
  color: #48b2c1;
  text-align: center;
  line-height: 250px;
  content: "80%";
}